.slideContainer {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
  margin-left: -5px;
}

.slider > div {
  flex: 0 0 calc(calc(100% - 20px) / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  border-radius: 1rem;
  margin-left: 5px;

}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(167, 141, 141);
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.lefthandle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  left: 0;
  top: 50%;
}

.righthandle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.handle:hover,
.handle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.text {
  transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}

.header {
    position: absolute;
    display: flex;
    left: 50%;
    gap: 5px;
    transform: translateX(-50%);
    font-size: 45px;
}